name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run a one-line script
        id: step_1
        run: test
        continue-on-error: true

      - name: Run a multi-line script
        if: steps.step_1.outcome == 'failure'
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
      - uses: cinotify/github-action@main
        with:
          to: 'ahmed.mabrouk@56bit.com'
          subject: 'building main'
          body: 'This is a notification from GitHub actions.'          
